<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Project</title>
</head>
<body>
    <div id="container">
        <h1>Oops! Page not Found</h1>
        <div>
            <p>Page requested is not found.</p>
            <a href="/"> Home</a>
        </div>
    </div>
</body>
</html>