<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Wk 11 Assessment</title>
</head>
<body>
    <div id="container">
        <h1>Welcome to Saint Joseph's Hospital.</h1>
        <hr>

        <div>
            <p>Sign-up below to record your data.</p>
        </div>

        <div>
            <h5><button><a href="/doctor">DOCTOR</a></button> <button><a href="/patient">PATIENT</a></button></h5> 
        </div>
        <hr>

        <div>
            <h3>Find a user</h3>
            <div>
                <h5>Search for a Staff member:</h5>
                <form action="/search-staff" method="GET">
                    <label for="searchStaff">Staff Name:</label>
                    <input type="text" name="searchStaff" id="searchStaff">

                    <input type="submit" value="SEARCH">
                </form>
                <h5> <%=staffNotFound%> </h5>
            </div>
            
            <div>
                <h5>Search for a Patient:</h5>
                <form action="/search-patient" method="GET">
                    <label for="searchPatient">Patient Name:</label>
                    <input list="patientList" name="searchPatient" id="searchPatient">

                    <input type="submit" value="SEARCH">
                </form>
                <h5> <%=patientNotFound%> </h5>
            </div>
            
        </div>
        <hr>
        
    </div>

    <script>
        let btn = document.querySelector("#")
    </script>
</body>
</html>